# Build folders
build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
install_manifest.txt
Makefile

# VS specific
*.VC.db
*.VC.opendb
*.VC.VC.opendb
*.user
*.suo
*.userosscache
*.sln.docstates

# VSCode and JetBrains IDEs
.vscode/
.idea/

# CMake presets
CMakePresets.json
CMakeUserPresets.json

# Compiled source
*.o
*.obj
*.lo
*.la
*.al
*.libs
*.so
*.dylib
*.dll
*.exe
*.out

# Debug files
*.pdb
*.idb

# Logs and temporary files
*.log
*.tmp
*.cache
*.bak

# System
.DS_Store
Thumbs.db

_deps/
/.vs
/CMakeSettings.json
